### Here we aggregate and transform all the sales data and export it

In [73]:
import os
import numpy as np
import pandas as pd

In [74]:
data_files = os.listdir('./out/')
data_files

['sales_2015.csv',
 'sales_2016.csv',
 'sales_2017.csv',
 'sales_2018.csv',
 'sales_2019.csv',
 'sales_2020.csv',
 'sales_2021.csv',
 'sales_2022.csv',
 'sales_2023.csv']

In [75]:
csv_list = []
for file in data_files:
    df = pd.read_csv(os.path.join('./out/', file), index_col="Produkt")
    csv_list.append(df)
    
for df in csv_list:
   df.drop("Unnamed: 0", axis=1, inplace=True)
    
csv_list[0].head()

,01_2015,02_2015,03_2015,04_2015,05_2015,06_2015,07_2015,08_2015,09_2015,10_2015,11_2015,12_2015
Produkt,,,,,,,,,,,,
SCHAB Z KOŚCIĄ,181.920,174.210,391.492,330.39,459.240,416.835,363.683,378.498,245.174,408.534,289.64,276.11
SCHAB BEZ KOŚCI,192.732,179.310,331.325,177.61,159.792,160.040,180.300,189.540,246.870,256.470,208.92,158.21
KARCZEK BEZ KOŚCI,156.977,171.419,301.939,228.79,272.260,224.882,262.285,196.857,244.620,256.020,199.25,146.83
SZYNKA Z KOŚCIA,0.000,2.840,62.110,26.91,33.650,19.600,36.660,40.250,30.820,64.320,38.15,17.43
SZYNKA BEZ KOŚCI,177.450,213.170,385.080,219.12,215.273,180.250,141.008,159.950,180.240,181.700,668.49,557.31

In [76]:
sales_aggregated = pd.concat(csv_list, axis=1)

sales_aggregated.head()
# for col in sales_aggregated.columns:
#     print(col, sep=", ", end=", ")

,01_2015,02_2015,03_2015,04_2015,05_2015,06_2015,07_2015,08_2015,09_2015,10_2015,...,03_2023,04_2023,05_2023,06_2023,07_2023,08_2023,09_2023,10_2023,11_2023,12_2023
Produkt,,,,,,,,,,,,,,,,,,,,,
SCHAB Z KOŚCIĄ,181.920,174.210,391.492,330.39,459.240,416.835,363.683,378.498,245.174,408.534,...,683.390,442.500,327.85,358.941,311.090,206.840,214.360,236.59,233.1600,224.05
SCHAB BEZ KOŚCI,192.732,179.310,331.325,177.61,159.792,160.040,180.300,189.540,246.870,256.470,...,515.790,349.156,505.40,350.568,301.022,429.040,320.852,452.39,517.6800,681.97
KARCZEK BEZ KOŚCI,156.977,171.419,301.939,228.79,272.260,224.882,262.285,196.857,244.620,256.020,...,578.670,412.970,355.25,352.820,312.840,318.993,349.850,349.28,443.1098,613.99
SZYNKA Z KOŚCIA,0.000,2.840,62.110,26.91,33.650,19.600,36.660,40.250,30.820,64.320,...,0.000,11.600,0.00,0.000,0.000,1061.480,0.000,0.51,0.0000,21.45
SZYNKA BEZ KOŚCI,177.450,213.170,385.080,219.12,215.273,180.250,141.008,159.950,180.240,181.700,...,1029.657,754.050,684.24,582.000,391.780,451.053,503.700,593.44,647.1000,847.92

In [77]:
#some values are not rounded so we run this
sales_aggregated = sales_aggregated.applymap(lambda x: round(x, 3))

C:\Users\damia\AppData\Local\Temp\ipykernel_13456\2140916456.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  sales_aggregated = sales_aggregated.applymap(lambda x: round(x, 3))

In [78]:
sales_aggregated.info()

sales_aggregated.to_csv('./out/sales_aggregated.csv')

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, SCHAB Z KOŚCIĄ to WĘDLINY
Columns: 108 entries, 01_2015 to 12_2023
dtypes: float64(108)
memory usage: 42.6+ KB